.block-container {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr)); 
  gap: 20px;
  width: 100%; 
  max-width: 1700px; 
  margin-bottom: 50px;
}

.video-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  height: 150px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.1);
  transition: 0.3s all;
}

.video-item:hover {
  transform: translateY(-5px);
}

.video-content {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-content h3 {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.video-link {
  text-decoration: none;
  color: inherit;
}

.progress-bar-block-Block {
  width: 500%;
  height: 10px;
  background-color: #e0e0e0;
  margin-top: 5px;
  border-radius: 5px;
}

.progress-Block {
  border-radius: 5px;
  height: 100%;
  background-color: #28a745;
  transition: width 0.3s ease;
}

.back-button-container {
  text-align: center;
  margin-top: 20px;
}

.back-button {
  background-color: #f1120e;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 18px;
  text-decoration: none;
}

.back-button:hover {
  background-color: #c02929;
}
