// Block1.scss
.block-container {
  position: relative;
  padding-top: 40px;
  display: flex; /* Use flexbox for layout */
  flex-direction: column;
  justify-content: space-between; /* Space between video list and button */
}

.video-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.video-item {
  background-color: #f0f0f0; /* Light gray background */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  position: relative;
}

.video-content {
  height: 100px; /* Adjust height as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.progress-bar {
  width: 80%; /* Adjust width as needed */
  height: 5px;
  background-color: #e0e0e0;
  border-radius: 2px;
  margin-top: 5px;
}

.progress {
  height: 100%;
  background-color: #28a745;
  transition: width 0.3s ease;
}

.stanowisko-container {
  position: absolute;
  top: -5px; /* Изменено с 20px на -5px */
  left: 20px;
  background-color: red;
  color: white;
  padding: 10px 20px;
  z-index: 10;
}

.back-button-container {
  text-align: center;
  margin-top: 20px;
}

.back-button {
  /* Стиль самой кнопки */
  background-color: #f1120e;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;

}

.back-button:hover {
  background-color: #c02929;
}