.ButtonRedak {
    background-color: #d9534f; /* Зеленый цвет */
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
  }
  
  .ButtonRedak:hover {
    background-color: #d9534f;
  }
  
  .ButtonRedak:active {
    background-color: #d9534f;
  }

  .ButtonRedak2 {
    background-color: #d9534f; /* Зеленый цвет */
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 10%;
  }
  