.ButtonRedak {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
  }
  
  .ButtonRedak2 {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 10%;
  }
  
  .ButtonRedak:hover,
  .ButtonRedak:active {
    background-color: #c9302c;
  }
  
  
  input::placeholder {
    color: white; 
  }
  
  input:focus::placeholder {
    color: white; 
  }
  

  .ButtonRedak3{
    background-color: white;
  }