/* src/components/Block2.scss */
.block-container {
  position: relative;
  padding-top: 40px; /* Убедитесь, что кнопка не накладывается на контент */
}

.video-page {
  background-color: #fff8e1;
  padding: 30px;
}

.video-item {
  margin-bottom: 25px;
}

.video-player {
  width: 100%;
  border-radius: 8px;
}

/* Стили для кнопки "Main" */
.main-button {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.main-link {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.main-link:hover {
  background-color: #218838;
}

/* Стили для кнопки возврата */
.back-to-main {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.back-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  text-decoration: none;
  border: 2px solid #007bff;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #0056b3;
}
